body {
  background: #292929;
  color: #d0d0d0;
  margin: 0;
  padding: 2rem 4rem;
  font-family: monospace;
  font-size: 1rem;
}

button {
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: inherit;
  box-shadow: 0 0 2rem .5rem #d0d0d0;
  border: 1px solid #d0d0d0;
  outline: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

h1 {
  text-align: center;
}

button:hover,
button:focus {
  background: #d0d0d0;
  color: #292929;
}

table {
  margin: auto;
}

table, td {
  border: 2px solid #d0d0d0;
  border-collapse: collapse;
}

td {
  padding: 1rem 2rem;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
  text-align: center;
}

td:hover {
  background: #e4bcbc;
  color: #292929;
}
