body {
  background: #292929;
  color: #d0d0d0;
  margin: 0;
  padding: 2rem 4rem;
  font-family: monospace;
  font-size: 1rem;
}

h3, p {
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  color: inherit;
  font-weight: bold;
  font-size: inherit;
  box-shadow: 0 0 2rem .5rem #d0d0d0;
  border: 1px solid #d0d0d0;
  outline: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

button:hover,
button:focus {
  background: #d0d0d0;
  color: #292929;
}

input,
textarea {
  padding: .5rem 1rem;
  font-size: inherit;
  background: transparent;
  color: #d0d0d0;
  border: 2px solid #d0d0d0;
  outline: none;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 2rem .5rem #d0d0d0;
}

a {
  cursor: pointer;
}

.todo-form {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  gap: 16px;
}

.todo-wrapper {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.todo {
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #d1cae5;
}

.todo-header {
  display: flex;
  justify-content: space-between;
}
